* {
  box-sizing: border-box;
}

/* Шрифты */

@font-face {
  font-family: "PT sans";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
}

/* базовые свойства */

html {
  height: 100%;
}

body {
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  min-height: 100%;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

img {
  font-size: 0;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

/****** Первая страница Index ******/

/* header */
.main-header {
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

/* Главная навигация */

.navigation-site {
  display: flex;
  padding: 0 70px;
  margin: 0 auto;
  background: #FFF;
}

.logo {
  display: block;
  width: 140px;
  height: 64px;
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}



.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  cursor: pointer;

}

.navigation-user .navigation-list-item:nth-child(1) .navigation-link {
  background-image: url(../images/icon/search.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.navigation-user .navigation-list-item:nth-child(2) .navigation-link {
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation-list-item {
  position: relative;
}

.add-number {
  position: absolute;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 50%;
  top: 0px;
  left: 15px;
}

/* Кнопка навигации */

.button-action {
  font-family: PT Sans;
  margin-left: 20px;
  display: inline-block;
  color: #FFFFFF;
  width: 165px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  cursor: pointer;
  border-color: #756157;
}


.navigation-link--current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

/* Скрытие элементов */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* блок с hero */
.hero {
  padding: 51px 0 82px;
  background-image: url(../images/index-background.jpg);
  background-color: #82b3d3;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url(../images/hero-decor.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-text {
  display: block;
  margin: 0 auto;
}

/* блок с advantages */

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 640px;
  text-align: center;
}

.advantages-subtitle {
  min-width: 651px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.wrapper-advantages-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 64px 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  text-align: center;
  width: 400px;
}

.advantages-list .advantages-item-images {
  width: 1200px;
  display: flex;
}


.advantages-item {
  padding: 103px 85px;
}

.advantages-item-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}


.advantages-item:nth-child(2n) {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(1),
.advantages-item:last-child {
  color: #fff;
  background-color: #82B3D3;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

/* блок с services */
.wrapper-services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.services-title {
  padding-top: 64px;
  padding-bottom: 20px;
  margin: 0;
  width: 505px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.services-subtitle {
  margin: 0;
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 64px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list-item {
  width: 400px;
  height: 385px;
  padding: 80px 85px;
  text-align: center;
}

.services-list-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-list-title {
  padding-top: 102px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.services-list-subtext {
  width: 230px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

/* блок с search */
.search {
  text-align: center;
  padding: 96px 304px;
}

.search-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: black;
}

.search-subtext {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.search .button {
  display: inline-block;
  font-weight: 700;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* блок с subscribe */

.subscribe {
  display: flex;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.subscribe-background-image {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  width: 467px;
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

/* subscribes-form */

.subscribe-form {
  display: flex;
  width: 100%;
}

.subscribe-form input {
  width: 452px;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px
}



.subscribe-form button {
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFF;
  padding: 5px 80px;
  border-radius: 0 4px 4px 0;
}

.input-catalog-subcribe {
  background-color: #F2F2F2;
}

/* основной футер */

.main-footer {
  min-height: 120px;
  padding: 40px 70px 30px;
}

address a {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.wrapper-footer {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
}

/* social-list */
.social-list {
  display: flex;
  width: 142px;
  margin-right: 41px;
  list-style: none;
}

.wrapper-phone {
  width: 331px;
  align-items: center;
}



/****** Вторая страница Catalog ******/

/* секция hostel-sedona title, breadcrums, catalog form  */
.hostel-sedona {
  padding: 35px 70px 70px;
  background-image: url(../images/catalog-filter.jpg);
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin-bottom: 56px;
}

.main-catalog-title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}

/* Catalog form */

.catalog-form {
  display: flex;
}

.catalog-form-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}

.catalog-form-group:nth-child(2) {
  margin-right: 139px;
}

.catalog-form-group:last-child {
  margin-right: 0;
}


.catalog-form-title {
  padding-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-form-list {
  margin: 0;
  padding: 0;
}

.catalog-form-list-item {
  padding-bottom: 16px;
  list-style: none;
}

.catalog-form-list-item:last-child {
  padding-bottom: 0;
}

.wrapper-price-inputs {
  display: flex;
}

.input-price {
  margin-right: 2px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border: none;
  width: 143px;
}

.input-price:last-child {
  margin-right: 0;
}

/* Кнопки каталога */

.form-buttons {
  display: flex;
  width: 191px;
  flex-direction: column;
  justify-content: end;
}

.form-buttons button {
  margin-bottom: 32px;
}

.form-buttons button:last-child {
  margin-bottom: 0;
}

.button-catalog-submit {
  font-family: PT Sans;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.button-catalog-reset {
  font-family: PT Sans;
  padding: 8px 50px;
  background-color: inherit;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;

}

/* Карточки каталога */

.catalog-cards {
  width: 1060px;
  margin: 0 auto;
}

.wrapper-catalog-cards {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  margin: 0;
}

.catalog-cards-top {
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 70px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.controller-list {
  display: flex;
}

/* Карточки сделаю позже гридами */
.catalog-cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}



.catalog-cards-list-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px;
  gap: 16px 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.catalog-cards-img {
  display: block;
  grid-column: 1 / -1;
}

.catalog-cards-list-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  grid-column: 1 / -1;
}

.cards-hostel-price {
  justify-self: end;
}

.catalog-button-more {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  text-align: center;
  padding: 8px 19px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.catalog-button-favorites {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  text-align: center;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 4px;
}

.catalog-button-favorites--selected {
  background-color: #7DB54F;
}

.cards-rating {
  text-align: center;
  padding: 9px 20px;
  background-color: #f2f2f2;
}

/* Пагинация */
.pagination {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.pagination-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 12px 12px;
  text-align: center;
  background-color: #82B3D3;
  cursor: pointer;
}

.pagination-item:first-child {
  background-color: #F2F2F2;
}

.pagination-item:nth-child(5) {
  background-color: #fff;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current .pagination-link,
.pagination-link .pagination-link--more {
  color: #000;
}
